<div class="game-container" [class.display-hidden]="!shipsSelected || gameLogic.gameOver">

  <div class="hud border-bottom" *ngIf="shipsSelected">
    <div class="hud-group">
      <p>Level: {{this.gameLogic.level}}</p>
    </div>
    <div class="hud-group" style="margin-left: auto">
      <button class="btn-switch" [class.btn-disabled]="gameLogic.soundMuted" (click)="gameLogic.switchSoundMuted()"><i class="fa" [class.fa-bell-slash-o]="gameLogic.soundMuted" [class.fa-bell-o]="!gameLogic.soundMuted"></i></button>
    </div>
  </div>

  <canvas #canvas ></canvas>

  <div class="hud border-top" *ngIf="shipsSelected">
    <div class="hud-group">
      <div class="score">
        <p>{{this.gameLogic.getPlayer('playerOne').score}}</p>
      </div>
      <img src="{{playerOneSelectedBattleship.src}}" style="height: 50%"/>
      <p> {{this.gameLogic.getPlayer('playerOne').lives}}</p>
    </div>
    <div class="hud-group" style="margin-left: auto" *ngIf="multiplayer">
      <p>{{this.gameLogic.getPlayer('playerTwo').lives}}</p>
      <img src="{{playerTwoSelectedBattleship.src}}" style="height: 50%"/>
      <div class="score">
        <p style="float: right !important">{{this.gameLogic.getPlayer('playerTwo').score}}</p>
      </div>
    </div>
  </div>

</div>


<div class="modal" [ngStyle]="{'display': displayPreGameModal}">
    <div class="flex-container-center">

      <h2 class="main-title mb-20" *ngIf="shipsSelected">Ready?</h2>
      <div *ngIf="shipsSelected">
        <label> Player 1 Controls
          <img class="ml-2" src="/assets/game-assets/PlayerOneControls.png">
        </label>
      </div>
      <div *ngIf="shipsSelected && multiplayer">
        <label> Player 2 Controls
          <img class="ml-2" src="/assets/game-assets/PlayerTwoControls.png">
        </label>
      </div>

      <p class="mb-10" *ngIf="!shipsSelected">Player 1: Select a Battleship</p>
      <div *ngIf="gameLoaded && !shipsSelected" class="row mb-20">
        <div class="preview-tile" *ngFor="let image of availableBattleships" (click)="selectPlayerOneShip(image)" [class.active]="image === playerOneSelectedBattleship">
          <div class="flex-container-center">
            <img src="{{image.src}}"/>
          </div>
        </div>
      </div>

      <p class="mb-10" *ngIf="multiplayer && !shipsSelected">Player 2: Select a Battleship</p>
      <div *ngIf="gameLoaded && multiplayer && !shipsSelected" class="row mb-20">
        <div class="preview-tile" *ngFor="let image of availableBattleships" (click)="selectPlayerTwoShip(image)" [class.active]="image === playerTwoSelectedBattleship">
          <div class="flex-container-center">
            <img src="{{image.src}}"/>
          </div>
        </div>
      </div>

      <div class="row mt-10">
        <button class="btn-main btn-md" routerLink="/"><i class="fa fa-times"></i> Abort Mission</button>
        <button class="btn-main btn-md" *ngIf="!gameLoaded" disabled><i class="fa fa-spinner fa-pulse"></i> Loading...</button>
        <button class="btn-main btn-md" *ngIf="gameLoaded && !shipsSelected" (click)="setupGame(); confirmSelection();"><i class="fa fa-check"></i> Confirm</button>
        <button class="btn-main btn-md" *ngIf="gameLoaded && shipsSelected" (click)="hidePreGameModal(); gameLoop();"><i class="fa fa-rocket"></i> Launch</button>
      </div>

    </div>
</div>


<div *ngIf="gameLoaded && shipsSelected" class="modal" [ngStyle]="{'display': displayGameOverModal}">

    <div class="flex-container-center">

      <h2 class="main-title">Game Over</h2>
      <h3>Score: {{this.gameLogic.getTotalScore()}} </h3>

      <form *ngIf="!multiplayer" [formGroup]="spHighScoreForm" (ngSubmit)="submitHighScore()">
        <input formControlName="playerOneName" type="text" class="player-input mt-20" placeholder="Player 1 Name" required>
        <button class="btn-main btn-md mt-20" type="submit" [disabled]="!spHighScoreForm.valid">Submit</button>
      </form>

      <form *ngIf="multiplayer" [formGroup]="mpHighScoreForm" (ngSubmit)="submitHighScore()">
        <input formControlName="playerOneName" type="text" class="player-input mt-20" placeholder="Player 1 Name" required>
        <input formControlName="playerTwoName" type="text" class="player-input mt-20 mb-20" placeholder="Player 2 Name" required>
        <button class="btn-main btn-md mt-20" type="submit" [disabled]="!mpHighScoreForm.valid">Submit</button>
      </form>
    </div>

</div>

